.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  *{
    margin: 0,auto;
    
     
  }
  nav{
    display: flex;
    text-align: center;

  }
  .nav-title{
    font-size: 24px;
    color:#0E0E0E 50%;
    font-weight: medium;
    width: 622px;
    height: 29px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 230px;
    width: 1280px;
  height: 560px;
  border-radius: 24px;
  background-color:#C6E4D6 ;
  padding:100px;
  
  }
  .banner-content{
    width:622px;
    height:326px;
  }
  .banner-description{
    font-size: 56px;
    font-weight: bold;
    width: 622px;
    height:201px;
  }
  .banner-portfolio-pic{
   width: 474.03px;
   height: 400px;
  }
  .btn-primary{
    background-color: #006A50;
    width: 270px;
    height: 56px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 17px,35px;
    border-radius: 5px;
    font-size: 15px;

  }
  section{
    margin-left: 160px;
  }
    .skills-container{
display: flex;
gap: 24px;
align-items: center;

    }
    .skill.d1{
      padding:30px ;
      border-radius: 8px;
      background-color: #5490F533 ;
      width: 410.67px;
      height: 325px;
    }
    .skill.d2{
      padding:30px ;
      border-radius: 8px;
      background-color: #C6E4D6;
      width: 410.67px;
      height: 325px;
    }
    .skill.d3{
      padding:30px ;
      border-radius: 8px;
      background-color: #F7EBCF;
      width: 410.67px;
      height: 325px;
    }
    .btn-color{
      width: 122px;
      height: 41px;
      color:#FFFFFF;
      background-color: #5490F5;
      margin-top: 90px;
      border-radius: 8px;
}
.btn-color1{
  width: 122px;
  height: 41px;
  color:#FFFFFF;
  background-color:#09A15C;
  margin-top: 90px;
  border-radius: 8px;
}

.btn-color2{
  width: 122px;
  height: 41px;
  color:#FFFFFF;
  background-color:#FFC239;
  margin-top: 90px;
  border-radius: 8px;
}

button:hover{
  filter:brightness(50%);
}
    .skill-description{
      width: 346.67px;
      height: 108px;
      border-radius: 8px;
    
    }
    .NF{
      background-color:#C6E4D6 ;
      width: 1280px;
      height: 395px;
    }
    .SN{
      width: 750px;
      height: 235px;
      
     
    }
    #n1{
      width: 622px;
      height: 48px;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      color:#0E0E0E;
      margin-left: 329px;
      margin-top: 80px;

    }
    #n2{
      width: 622px;
      height: 48px;
      text-align: center;
      font-size: 16px;
      color:#0E0E0E;
      margin-left: 329px;
    }
    .F1{
      display: flex;
      width: 750px;
      height: 56px;
      
      margin-left: 265px;
    }
    #n3{
      width: 600px;
      height: 55px;
      border-radius: 8px;
    }
    #n4{
      width: 150px;
      height: 56px;
      color:#FFFFFF;
      background-color:#006A50 ;
      text-align: center;
      font-weight: bold;
      border-radius: 8px;
    }
    #n5{
      text-align: center;
      margin-left: 380px;
      font-size: 16px;
      margin-top: 50px;
    }
    
      
    
